

 {% include "firstApp/layouts/header.html" %}


<!-- double your coin start -->
<section class="double-your-coin-area" id="get_started">{% load staticfiles %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
                    <h2>How to double <span class="colored-text">your coin?</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                    point of using has a more-or-less.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="single-coin-box yellow wow  slideInLeft">
                    <div class="icon">
                        <i class="flaticon-notebook"></i>
                    </div>
                    <div class="content">
                        <h4>Add bitcoin address</h4>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-coin-box blue wow slideInDown">
                    <div class="icon">
                        <i class="flaticon-wallet"></i>
                    </div>
                    <div class="content">
                        <h4>Open Deposit</h4>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-coin-box green wow slideInUp">
                    <div class="icon">
                        <i class="flaticon-withdrawing-money-from-atm"></i>
                    </div>
                    <div class="content">
                        <h4>Automatic Withdraw</h4>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-coin-box red wow slideInRight">
                    <div class="icon">
                        <i class="flaticon-bars"></i>
                    </div>
                    <div class="content">
                        <h4>Start earn profit</h4>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- double your coin end -->

{% include "firstApp/layouts/footer.html" %}
